---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/api/v2/NextPublicHolidays/US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-09-06","localName":"Labor Day","name":"Labour Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2021-10-11","localName":"Columbus
        Day","name":"Columbus Day","countryCode":"US","fixed":false,"global":false,"counties":["US-AL","US-AZ","US-CO","US-CT","US-DC","US-GA","US-ID","US-IL","US-IN","US-IA","US-KS","US-KY","US-LA","US-ME","US-MD","US-MA","US-MS","US-MO","US-MT","US-NE","US-NH","US-NJ","US-NM","US-NY","US-NC","US-OH","US-OK","US-PA","US-RI","US-SC","US-TN","US-UT","US-VA","US-WV"],"launchYear":null,"types":["Public"]},{"date":"2021-11-11","localName":"Veter[...]
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10a28ec4ae6241651e3fccbe86b6323988a720b20f16a2b3d2a697a7c2e2df61"
      Last-Modified:
      - Sun, 08 Aug 2021 23:50:56 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1628485902'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"id":393159029,"node_id":"MDEwOlJlcG9zaXRvcnkzOTMxNTkwMjk=","name":"little-esty-shop","full_name":"leehopper/little-esty-shop","private":false,"owner":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com/users/leehopper/following{/other_user}","gists_url":"https://api.github.com/users/leehopper/gists{/gist_id}","starred_url":"https://api.github.com/users/leehopper/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leehopper/subscriptions","organizations_url":"https://api.github.com/users/leehopper/orgs","repos_url":"https://api.github.com/users/leehopper/repos","events_url":"https://api.github.com/users/leehopper/events{/privacy}","received_events_url":"https://api.github.com/users/leehopper/received_events","type":"User","site_admin":false},"html_url":"https://github.com/leehopper/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/leehopper/little-esty-shop","forks_url":"https://api.github.com/repos/leehopper/little-esty-shop/forks","keys_url":"https://api.github.com/repos/leehopper/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/leehopper/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/leehopper/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/leehopper/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/leehopper/little-esty-shop/events","assignees_url":"https://api.github.com/repos/leehopper/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/leehopper/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/leehopper/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/leehopper/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/leehopper/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/leehopper/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/leehopper/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/leehopper/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/leehopper/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/leehopper/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/leehopper/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/leehopper/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/leehopper/little-esty-shop/merges","archive_url":"https://api.github.com/repos/leehopper/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/leehopper/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/leehopper/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/leehopper/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/leehopper/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/leehopper/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/leehopper/little-esty-shop/deployments","created_at":"2021-08-05T20:06:44Z","updated_at":"2021-08-08T23:50:56Z","pushed_at":"2021-08-09T02:52:35Z","git_url":"git://github.com/leehopper/little-esty-shop.git","ssh_url":"git@github.com:leehopper/little-esty-shop.git","clone_url":"https://github.com/leehopper/little-esty-shop.git","svn_url":"https://github.com/leehopper/little-esty-shop","homepage":null,"size":1416,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":389755729,"node_id":"MDEwOlJlcG9zaXRvcnkzODk3NTU3Mjk=","name":"little-esty-shop","full_name":"gunnarrunner/little-esty-shop","private":false,"owner":{"login":"gunnarrunner","id":76886492,"node_id":"MDQ6VXNlcjc2ODg2NDky","avatar_url":"https://avatars.githubusercontent.com/u/76886492?v=4","gravatar_id":"","url":"https://api.github.com/users/gunnarrunner","html_url":"https://github.com/gunnarrunner","followers_url":"https://api.github.com/users/gunnarrunner/followers","following_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27ebd4790188b8661d024fad48a3369357760a1a51dea9fb2a9626cb660fa321"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1628485902'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/2","id":706127387,"node_id":"MDExOlB1bGxSZXF1ZXN0NzA2MTI3Mzg3","html_url":"https://github.com/leehopper/little-esty-shop/pull/2","diff_url":"https://github.com/leehopper/little-esty-shop/pull/2.diff","patch_url":"https://github.com/leehopper/little-esty-shop/pull/2.patch","issue_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/2","number":2,"state":"closed","locked":false,"title":"The
        merchant bulk discounts index","user":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com/users/leehopper/following{/other_user}","gists_url":"https://api.github.com/users/leehopper/gists{/gist_id}","starred_url":"https://api.github.com/users/leehopper/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leehopper/subscriptions","organizations_url":"https://api.github.com/users/leehopper/orgs","repos_url":"https://api.github.com/users/leehopper/repos","events_url":"https://api.github.com/users/leehopper/events{/privacy}","received_events_url":"https://api.github.com/users/leehopper/received_events","type":"User","site_admin":false},"body":"Type
        of Change:\r\n- new display page\r\n- additional cassette storage\r\n\r\nWhat
        does it implement:\r\n- Full testing for the merchant bulk discount invoice
        page \r\n- API build for top holidays in the USA \r\n- Full display build
        that is passing all tests\r\n\r\nAny relevant logs, error outputs, etc.:\r\n-
        cassette''s still being recorded as hourly github limits allow ","created_at":"2021-08-08T23:50:28Z","updated_at":"2021-08-08T23:50:53Z","closed_at":"2021-08-08T23:50:52Z","merged_at":"2021-08-08T23:50:52Z","merge_commit_sha":"2068392b5c5c5f2060fb8f8ec7241473b729580b","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/2/commits","review_comments_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/2/comments","review_comment_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/2/comments","statuses_url":"https://api.github.com/repos/leehopper/little-esty-shop/statuses/2c84bb77848ce32c8b7a60ef6f0c6706e8acfce5","head":{"label":"leehopper:bulk_discounts_index","ref":"bulk_discounts_index","sha":"2c84bb77848ce32c8b7a60ef6f0c6706e8acfce5","user":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com/users/leehopper/following{/other_user}","gists_url":"https://api.github.com/users/leehopper/gists{/gist_id}","starred_url":"https://api.github.com/users/leehopper/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leehopper/subscriptions","organizations_url":"https://api.github.com/users/leehopper/orgs","repos_url":"https://api.github.com/users/leehopper/repos","events_url":"https://api.github.com/users/leehopper/events{/privacy}","received_events_url":"https://api.github.com/users/leehopper/received_events","type":"User","site_admin":false},"repo":{"id":393159029,"node_id":"MDEwOlJlcG9zaXRvcnkzOTMxNTkwMjk=","name":"little-esty-shop","full_name":"leehopper/little-esty-shop","private":false,"owner":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com[...]
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35993700bd25f483fe6d8e0e2f90b52e9d7ab8f7ece4cabd1395c75ae73bda57"
      Last-Modified:
      - Sun, 08 Aug 2021 23:50:56 GMT
      X-Github-Media-Type:
      - github.v3; forma[...]
[...]
