---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ee784976efe0d927a2e28023adc35087bb927dda0113d3eca7431c3d1aa1a5b"
      Last-Modified:
      - Thu, 05 Aug 2021 20:06:45 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Reset:
      - '1628441051'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"id":393159029,"node_id":"MDEwOlJlcG9zaXRvcnkzOTMxNTkwMjk=","name":"little-esty-shop","full_name":"leehopper/little-esty-shop","private":false,"owner":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com/users/leehopper/following{/other_user}","gists_url":"https://api.github.com/users/leehopper/gists{/gist_id}","starred_url":"https://api.github.com/users/leehopper/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leehopper/subscriptions","organizations_url":"https://api.github.com/users/leehopper/orgs","repos_url":"https://api.github.com/users/leehopper/repos","events_url":"https://api.github.com/users/leehopper/events{/privacy}","received_events_url":"https://api.github.com/users/leehopper/received_events","type":"User","site_admin":false},"html_url":"https://github.com/leehopper/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/leehopper/little-esty-shop","forks_url":"https://api.github.com/repos/leehopper/little-esty-shop/forks","keys_url":"https://api.github.com/repos/leehopper/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/leehopper/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/leehopper/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/leehopper/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/leehopper/little-esty-shop/events","assignees_url":"https://api.github.com/repos/leehopper/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/leehopper/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/leehopper/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/leehopper/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/leehopper/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/leehopper/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/leehopper/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/leehopper/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/leehopper/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/leehopper/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/leehopper/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/leehopper/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/leehopper/little-esty-shop/merges","archive_url":"https://api.github.com/repos/leehopper/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/leehopper/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/leehopper/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/leehopper/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/leehopper/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/leehopper/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/leehopper/little-esty-shop/deployments","created_at":"2021-08-05T20:06:44Z","updated_at":"2021-08-05T20:06:45Z","pushed_at":"2021-08-08T06:28:47Z","git_url":"git://github.com/leehopper/little-esty-shop.git","ssh_url":"git@github.com:leehopper/little-esty-shop.git","clone_url":"https://github.com/leehopper/little-esty-shop.git","svn_url":"https://github.com/leehopper/little-esty-shop","homepage":null,"size":1391,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":389755729,"node_id":"MDEwOlJlcG9zaXRvcnkzODk3NTU3Mjk=","name":"little-esty-shop","full_name":"gunnarrunner/little-esty-shop","private":false,"owner":{"login":"gunnarrunner","id":76886492,"node_id":"MDQ6VXNlcjc2ODg2NDky","avatar_url":"https://avatars.githubusercontent.com/u/76886492?v=4","gravatar_id":"","url":"https://api.github.com/users/gunnarrunner","html_url":"https://github.com/gunnarrunner","followers_url":"https://api.github.com/users/gunnarrunner/followers","following_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"992aaf92b487506974e4305db4a64326866f3ed48b2ba424cef8fbe4e28f72b0"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1628441051'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '41'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 08 Aug 2021 15:46:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94bf5c66b57e640e5fbaebe5d82e80c02ba3c0139d1d8331ea24e164573ae2e8"
      Last-Modified:
      - Thu, 05 Aug 2021 20:06:45 GMT
      X-Github-Media-Type:
      - github.v3; forma[...]
