---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3c57e4a51f9ea26558c735cdfcaa45505305efca0c3a1646eb6e004d2d2537a8"'
      Last-Modified:
      - Sun, 08 Aug 2021 16:05:57 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1628466214'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"id":393159029,"node_id":"MDEwOlJlcG9zaXRvcnkzOTMxNTkwMjk=","name":"little-esty-shop","full_name":"leehopper/little-esty-shop","private":false,"owner":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com/users/leehopper/following{/other_user}","gists_url":"https://api.github.com/users/leehopper/gists{/gist_id}","starred_url":"https://api.github.com/users/leehopper/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leehopper/subscriptions","organizations_url":"https://api.github.com/users/leehopper/orgs","repos_url":"https://api.github.com/users/leehopper/repos","events_url":"https://api.github.com/users/leehopper/events{/privacy}","received_events_url":"https://api.github.com/users/leehopper/received_events","type":"User","site_admin":false},"html_url":"https://github.com/leehopper/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/leehopper/little-esty-shop","forks_url":"https://api.github.com/repos/leehopper/little-esty-shop/forks","keys_url":"https://api.github.com/repos/leehopper/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/leehopper/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/leehopper/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/leehopper/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/leehopper/little-esty-shop/events","assignees_url":"https://api.github.com/repos/leehopper/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/leehopper/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/leehopper/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/leehopper/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/leehopper/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/leehopper/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/leehopper/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/leehopper/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/leehopper/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/leehopper/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/leehopper/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/leehopper/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/leehopper/little-esty-shop/merges","archive_url":"https://api.github.com/repos/leehopper/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/leehopper/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/leehopper/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/leehopper/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/leehopper/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/leehopper/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/leehopper/little-esty-shop/deployments","created_at":"2021-08-05T20:06:44Z","updated_at":"2021-08-08T16:05:57Z","pushed_at":"2021-08-08T20:18:25Z","git_url":"git://github.com/leehopper/little-esty-shop.git","ssh_url":"git@github.com:leehopper/little-esty-shop.git","clone_url":"https://github.com/leehopper/little-esty-shop.git","svn_url":"https://github.com/leehopper/little-esty-shop","homepage":null,"size":1454,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":389755729,"node_id":"MDEwOlJlcG9zaXRvcnkzODk3NTU3Mjk=","name":"little-esty-shop","full_name":"gunnarrunner/little-esty-shop","private":false,"owner":{"login":"gunnarrunner","id":76886492,"node_id":"MDQ6VXNlcjc2ODg2NDky","avatar_url":"https://avatars.githubusercontent.com/u/76886492?v=4","gravatar_id":"","url":"https://api.github.com/users/gunnarrunner","html_url":"https://github.com/gunnarrunner","followers_url":"https://api.github.com/users/gunnarrunner/followers","following_url":"https:/[...]
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"682dba7462ad1d6d300fc6418cdd95cf42c75de6604dd2adcab569d15d809047"'
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1628466213'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/1","id":706067518,"node_id":"MDExOlB1bGxSZXF1ZXN0NzA2MDY3NTE4","html_url":"https://github.com/leehopper/little-esty-shop/pull/1","diff_url":"https://github.com/leehopper/little-esty-shop/pull/1.diff","patch_url":"https://github.com/leehopper/little-esty-shop/pull/1.patch","issue_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/1","number":1,"state":"closed","locked":false,"title":"Refactor
        to implement factorybot and vcr ","user":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com/users/leehopper/following{/other_user}","gists_url":"https://api.github.com/users/leehopper/gists{/gist_id}","starred_url":"https://api.github.com/users/leehopper/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leehopper/subscriptions","organizations_url":"https://api.github.com/users/leehopper/orgs","repos_url":"https://api.github.com/users/leehopper/repos","events_url":"https://api.github.com/users/leehopper/events{/privacy}","received_events_url":"https://api.github.com/users/leehopper/received_events","type":"User","site_admin":false},"body":"Type
        of Change:\r\n- full refactor of the testing suite \r\n\r\nWhat does it implement:\r\n-
        factory bot, removal of all test data set up in rails helper\r\n- vcr, record
        cassettes for github API calls on every page to avoid limits and speed up
        testing\r\n\r\nAny relevant logs, error outputs, etc.:\r\n- still building
        vcr data as API limits allow","created_at":"2021-08-08T16:05:40Z","updated_at":"2021-08-08T16:05:51Z","closed_at":"2021-08-08T16:05:51Z","merged_at":"2021-08-08T16:05:51Z","merge_commit_sha":"d49ba0704371ec596b816980dbfd68f3264d02a9","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/1/commits","review_comments_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/1/comments","review_comment_url":"https://api.github.com/repos/leehopper/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/leehopper/little-esty-shop/issues/1/comments","statuses_url":"https://api.github.com/repos/leehopper/little-esty-shop/statuses/b275c8040b51a3b3a22096696526bb163dcb67cf","head":{"label":"leehopper:setup","ref":"setup","sha":"b275c8040b51a3b3a22096696526bb163dcb67cf","user":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com/users/leehopper/following{/other_user}","gists_url":"https://api.github.com/users/leehopper/gists{/gist_id}","starred_url":"https://api.github.com/users/leehopper/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leehopper/subscriptions","organizations_url":"https://api.github.com/users/leehopper/orgs","repos_url":"https://api.github.com/users/leehopper/repos","events_url":"https://api.github.com/users/leehopper/events{/privacy}","received_events_url":"https://api.github.com/users/leehopper/received_events","type":"User","site_admin":false},"repo":{"id":393159029,"node_id":"MDEwOlJlcG9zaXRvcnkzOTMxNTkwMjk=","name":"little-esty-shop","full_name":"leehopper/little-esty-shop","private":false,"owner":{"login":"leehopper","id":82063000,"node_id":"MDQ6VXNlcjgyMDYzMDAw","avatar_url":"https://avatars.githubusercontent.com/u/82063000?v=4","gravatar_id":"","url":"https://api.github.com/users/leehopper","html_url":"https://github.com/leehopper","followers_url":"https://api.github.com/users/leehopper/followers","following_url":"https://api.github.com[...]
- request:
    method: get
    uri: https://api.github.com/repos/leehopper/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bd5c9d3de04df0a8bc078fbe0be2e39525935726c8fc1a73e852ef6875c3d390"'
      Last-Modified:
      - Sun, 08 Aug 2021 16:05:57 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; forma[...]
[...]
